*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
body{
	font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
}
header{
    width: 100%;
    position: absolute;
    z-index: 9999;
}
/*********************
		topbar
**********************/
#topbar{
	width: 100%;
}
.top-menu-wrap{
	padding: 14px 0px;
	background-color: #2e306c;
	position: relative;
}
.top-menu-wrap::after{
	content: '';
    position: absolute;
    width: 0;
    height: 38px;
    border-top: 0px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 50px solid #2e306c;
    right: -50px;
    top: -4px;
}
.top-menu-wrap::before{
	content: '';
    position: absolute;
    top: 0;
    left: -400px;
    min-width: 400px;
    height: 56px;
    background: #2e306c;
}
.social-media a{
	margin-right: 6px;
}
.social-media a i{
	color: #fff;
	font-size: 16px;
}
.cost{
	background: #1e2063;
    padding: 2px 8px 2px 8px;
}
.cost a{
	color: white;
}
.price{
	color: #ff9c00;
}
.icon{
	background-color: #464c5c;
    color: white;
    padding: 2px 4px;
    font-size: 16px;
    border-radius: 2px;
}
.user-log-reg a{
	color: white;
	font-size: 18px;
	margin-left: 22px;
}
.user-log-reg a i{
	margin-right: 8px;
}
/*********************
		main menu
**********************/
.main-menu{
	width: 100%;
}
.main-menu-wrap{
	background-color: rgba(0,0,0,0.70);
	position: relative;
}
.main-menu-wrap::after{
	    content: '';
    position: absolute;
    width: 0;
    height: 38px;
    border-top: 0px solid transparent;
    border-bottom: 100px solid transparent;
    border-right: 50px solid rgba(0,0,0,0.70);
    left: -50px;
    top: 0;
}
.main-menu-wrap::before{
	content: '';
    position: absolute;
    top: 0;
    right: -400px;
    min-width: 400px;
    height: 100px;
    background: rgba(0,0,0,0.70);
}
.nav-link{
    color: white !important;
    font-size: 20px;
}
.nav-item{
    margin-right: 12px;
}

#banner{
    width: 100%;
    position: relative;
    height: 100vh;
    background-image: url(img/8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.45);
    background-blend-mode: soft-light;
}
.banner-content h2{
    font-size: 46px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}
.banner-content h1{
    font-size: 75px;
    font-weight: 600;
    color: #ff9c00;
    letter-spacing: 1px;
}
.banner-content p{
    font-size: 20px;
    line-height: 32px;
    color: white;
    margin-bottom: 52px;
}
.banner-btn{
    background: transparent;
    padding: 20px 35px;
    margin: 0 8px;
    position: relative;
    color: white;
    font-weight: 600;
    display: inline-block;
    z-index: 9999;
}
.banner-btn::before {
    content: "";
    position: absolute;
    right: -13px;
    top: 0;
    height: 100%;
    width: 5px;
    transform: skewX(-16deg);
    z-index: 1;
    opacity: 1;
    background-image: none;
    bottom: 0;
    border-radius: 0;
    left: auto;
    background-color: #ff9c00;
    transition: 0.5s;
}
.banner-btn::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: skewX(-16deg);
    z-index: -1;
    opacity: 1;
    background-image: none;
    bottom: 0;
    border-radius: 0;
    left: auto;
    background-color: #ff9c00;
}
.banner-btn:hover::before{
    right: -5px;
    transition: 0.5s;
}
.bc-text{
        position: absolute;
    top: 40%;
}

/*mouse*/
.cursor {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.cursor:nth-child(1) {
  background-color: white;
  z-index: 1;
}
.cursor:nth-child(2) {
  border: 1px solid white;
  height: 30px;
  width: 30px;
}
.wrap {
  height: 100%;  
  position: relative;
  overflow: hidden;
}
/*********************
    air drops
**********************/
#air-drops{
    width: 100%;
    padding: 80px 0px 100px 0;
    background-color: #000c11;;
}
.sec-title{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 32px;
    color: #fff;
}
.ad-contents h6{
    display: block;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #ff9c00;
    margin-top: 16px;
}
.ad-contents h3{
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 32px;
}
.ad-title a{
    color: #fff;
}
.banner-btn:hover{
    color: white;
}
/*********************
    roadmap
**********************/
#roadmap{
    width: 100%;
    padding: 100px 0px;
    background: #111;
}.contest-section {
  background: #111;
  padding: 120px 0;
}
.contest-section .contest-head .choose-game h4.title {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 26px;
  margin-top: -4px;
}
.contest-section .contest-head .choose-game ul {
  display: flex;
  margin: 0 -15px;
}
.contest-section .contest-head .choose-game ul li {
  margin: 0 15px;
  position: relative;
}
.contest-section .contest-head .choose-game ul li a {
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease-in;
  position: relative;
  z-index: 2;
}
.contest-section .contest-head .choose-game ul li a:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  opacity: 0;
  transition: all 0.3s ease-in;
}
.contest-section .contest-head .choose-game ul li a svg {
  opacity: 0;
  transition: all 0.3s ease-in;
}
.contest-section .contest-head .choose-game ul li a:focus {
  border: 1px solid rgba(255, 70, 77, 0.8);
}
.contest-section .contest-head .choose-game ul li a:focus:after {
  opacity: 0.8;
}
.contest-section .contest-head .choose-game ul li a:focus svg {
  opacity: 1;
}
.contest-section .contest-head .choose-game ul li a .check-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 5;
}
.contest-section .contest-head .choose-game ul li a .check-icon svg circle, .contest-section .contest-head .choose-game ul li a .check-icon svg polyline {
  stroke: #fff;
}
.contest-section .contest-head .choose-game ul li p.game-name {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  top: 100%;
  background: #000;
  color: #999;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.5px;
  padding: 4px 20px;
  margin-top: 18px;
  transition: all 0.3s ease-in;
  opacity: 0;
  visibility: hidden;
}
.contest-section .contest-head .choose-game ul li p.game-name:after {
  position: absolute;
  content: "";
  left: 50%;
  top: -5px;
  width: 10px;
  height: 10px;
  background: #000;
  transform: rotate(45deg);
}
.contest-section .contest-head .choose-game ul li:hover p.game-name {
  opacity: 1;
  margin-top: 8px;
  visibility: visible;
}
.contest-section .contest-head .control-contest {
  padding: 30px;
  margin: 30px 0 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contest-section .contest-head .control-contest .in-play-and-ended-filter .nav-tabs {
  border-bottom: none;
}
.contest-section .contest-head .control-contest .in-play-and-ended-filter .nav-tabs .nav-item .nav-link {
  border: none;
  border-radius: 0;
  background: #242424;
  position: relative;
  z-index: 2;
  color: #fff;
  letter-spacing: 0.5px;
  height: 40px;
  padding: 0 35px;
  line-height: 40px;
  margin-right: 20px;
}
.contest-section .contest-head .control-contest .in-play-and-ended-filter .nav-tabs .nav-item .nav-link:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.contest-section .contest-head .control-contest .in-play-and-ended-filter .nav-tabs .nav-item .nav-link.active:after {
  opacity: 1;
}
.contest-section .contest-head .control-contest .weeki-filter ul {
  display: flex;
}
.contest-section .contest-head .control-contest .weeki-filter ul li a {
  height: 40px;
  background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  line-height: 40px;
  padding: 0 30px;
  position: relative;
  font-size: 16px;
  z-index: 2;
  margin-right: 10px;
}
.contest-section .contest-head .control-contest .weeki-filter ul li a:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #2a2a2a;
  z-index: -1;
  transition: all 0.3s ease-in;
}
.contest-section .contest-head .control-contest .weeki-filter ul li a:focus:after {
  opacity: 0;
}
.contest-section .contest-head .control-contest .weeki-filter ul li:last-child a {
  margin-right: 0;
}
.contest-section .single-contest {
  margin-bottom: 70px;
}
.contest-section .single-contest:last-child {
  margin-bottom: 0;
}
.contest-section .single-contest:nth-child(even) .part-left {
  order: 2;
}
.contest-section .single-contest:nth-child(even) .part-right {
  text-align: right;
}
.contest-section .single-contest:nth-child(even) .part-right span.clndr-icon {
  float: right;
  margin-right: 0;
  margin-left: 25px;
}
.contest-section .single-contest:nth-child(even) .part-right .contest-date-text {
  align-items: flex-end;
}
.contest-section .single-contest:nth-child(even) .part-right .contest-date-text:after {
  left: auto;
  right: 0;
}
.contest-section .single-contest:nth-child(even) .part-right .contest-date-text p {
  padding-left: 0;
  padding-right: 54px;
}
.contest-section .single-contest:nth-child(even) .part-right .contest-date-text a.def-btn {
  margin-left: 0;
  margin-right: 54px;
}
.contest-section .single-contest:nth-child(odd) .part-right .contest-date-text:before {
  left: auto;
  right: calc(100% - 14px);
}
.contest-section .single-contest:first-child .part-right .contest-date-text:before {
  display: none;
}
.contest-section .single-contest:first-child .part-right .contest-date-text h4 span.clndr-icon:after {
  top: 35px;
}
.contest-section .single-contest:last-child .contest-date-text h4 span.clndr-icon:after {
  height: auto;
  bottom: 0;
}
.contest-section .single-contest .contest-box {
  background: url("../img/contest/contest-1.jpg") center center no-repeat;
  background-size: cover;
  padding: 50px 0;
  position: relative;
  z-index: 2;
}
.contest-section .single-contest .contest-box:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(360deg, #242424 0%, rgba(36, 36, 36, 0.8) 50%, #242424 100%);
}
.contest-section .single-contest .contest-box .part-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contest-section .single-contest .contest-box .part-text .part-timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}
.contest-section .single-contest .contest-box .part-text .part-timer .single-time {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  text-align: center;
  width: 90px;
  background: #242424;
}
.contest-section .single-contest .contest-box .part-text .part-timer .single-time span.number {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  padding: 10px 0;
  font-weight: 400;
}
.contest-section .single-contest .contest-box .part-text .part-timer .single-time span.title {
  color: #bbb;
  background: #242424;
  font-size: 15px;
  padding: 5px 0;
  border-bottom: 1px solid rgba(245, 84, 55, 0.5);
  border-top: 1px solid rgba(245, 84, 55, 0.5);
}
.contest-section .single-contest .contest-box .part-text a.title {
  font-size: 28px;
  color: #fff;
  color: rgba(255, 255, 255, 0.9);
  display: block;
  text-align: center;
  font-weight: 600;
  line-height: 38px;
  margin-bottom: 31px;
  margin-top: -8px;
}
.contest-section .single-contest .contest-box .part-text .part-info ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contest-section .single-contest .contest-box .part-text .part-info ul li {
  text-align: center;
  margin: 0 20px;
}
.contest-section .single-contest .contest-box .part-text .part-info ul li .part-icon {
  width: 30px;
  display: inline-block;
  margin-bottom: 10px;
}
.contest-section .single-contest .contest-box .part-text .part-info ul li .part-info-text {
  display: flex;
  flex-direction: column;
}
.contest-section .single-contest .contest-box .part-text .part-info ul li .part-info-text span.title {
  font-family: "Oswald", sans-serif;
  color: #bbb;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 15px;
  margin-bottom: 6px;
}
.contest-section .single-contest .contest-box .part-text .part-info ul li .part-info-text span.descr {
  color: #fff;
  font-size: 16px;
}
.contest-section .contest-date-text {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  position: relative;
}
.contest-section .contest-date-text:after {
  position: absolute;
  content: "";
  left: 0;
  top: calc(100% + 36px);
  width: 20px;
  height: 35px;
  background: #111;
  z-index: 2;
}
.contest-section .contest-date-text:before {
  position: absolute;
  content: "";
  left: calc(100% - 14px);
  top: -35px;
  height: 1px;
  width: 258px;
  background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  opacity: 0.5;
}
.contest-section .contest-date-text h4 {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
  font-weight: 400;
}
.contest-section .contest-date-text h4 span.clndr-icon {
  display: inline-block;
  position: relative;
  top: -4px;
  margin-right: 20px;
  color: #ff4b2b;
  z-index: 2;
}
.contest-section .contest-date-text h4 span.clndr-icon svg {
  height: 30px;
  width: 28px;
  background: #111111;
}
.contest-section .contest-date-text h4 span.clndr-icon:after {
  position: absolute;
  z-index: -1;
  content: "";
  left: 14px;
  top: -98px;
  width: 1px;
  height: 500px;
  background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
  opacity: 0.5;
}
.contest-section .contest-date-text p {
  color: #999;
  line-height: 28px;
  padding-left: 54px;
}
.contest-section .contest-date-text a.def-btn {
  margin-top: 18px;
  margin-left: 54px;
}



/*********************
    partners
**********************/
#partners{
        width: 100%;
    padding: 100px 0px;
    background-image: url(img/banner-bg.png);
    background-position: center;
    background-color: #242424;
    background-size: cover;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.p-content h2{
    font-size: 40px;
    line-height: 50px;
    color: #fff;
    margin-top: -10px;
    margin-bottom: 28px;
    font-weight: 600;
    letter-spacing: 1px;
}
.p-content p{
    color: #999;
    line-height: 28px;
}
.p-content a{
    margin-top: 32px;
}
.p-images{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 42px;
}
.p-images div{
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 32px;
}
.p-images div:nth-child(4),
.p-images div:nth-child(5),
.p-images div:nth-child(6){
    border-bottom: 0px !important;
}
.p-images div:nth-child(3),
.p-images div:nth-child(6){
    border-right: 0px !important;
}


/*********************
    footer
**********************/
footer{
    width: 100%;
    background-color: #000c11;
}
.top-footer{
    padding: 80px 0px 60px 0;
}
footer h3{
    color: #dedede;
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 25px;
    text-transform: uppercase;
}
footer p{
    color: #cecece;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px
}
.contact-items {
    margin-bottom: 20px;
}
.contact-items .title {
    font-size: 16px;
    color: #d4d4d4;
    font-weight: 600;
}
.contact-items .title i {
    margin-right: 10px;
    width: 22px;
    text-align: center;
    color: #f68b1f;
}
.contact-items .email {
    color: #e0e0e0;
    font-size: 16px;
    margin-left: 30px;
    margin-bottom: 0;
    line-height: 22px;
}
.f-menu li{
    list-style: none;
    margin-bottom: 12px;
}
.f-menu li a{
    color: #e0e0e0;
    font-size: 16px;
    line-height: 22px;
}
.subscribe form{
    position: relative;
}
.f-form-input{
    padding: 10px 20px;
    background: transparent;
    border: none;
    border: 1px solid #dedede;
    border-radius: 35px;
    width: 100%;
}
.subscribe-btn{
    background: transparent;
    color: white;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.footer-middle{
    padding: 20px 0;
    border-top: 1px solid #212121;
    border-bottom: 1px solid #212121;
    text-align: center;
}
.footer-middle p{
    margin: 0;
    padding: 0;
}
.bottom-footer{
    padding: 60px 0px;
    text-align: center;
}
.bottom-footer .f-logo{
    font-size: 36px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
}
.bottom-footer .f-logo span{
    font-size: 46px;
    color:  #ff9c00;
}
/*.footer-social-link li.fb-bg {
    background-image: url(../../media/footer/2.png);
}*/
.footer-social-link li {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    text-align: center;
    line-height: 44px;
    transition: all 0.3s ease-in-out;
    
}
.footer-social-link li i{
    color: white;
    font-size: 18px;
}
.footer-bmenu li{
    list-style: none;
    display: inline-block;
    margin: 0px 8px;
}
.footer-bmenu li a{
    color: #e0e0e0;
}